

/**********************************
PAGE CONTENT
***********************************/

.main-content-wrapper{
    width:100%;
    height:100%;
    margin: 0 auto;
    font-family:"Roboto";
   
}


/**********************************
CONTACT INFO
***********************************/

#contact-info {
	background:white;
	padding:0px 25px 40px 25px;
	margin:50px 0;
    font-size:1em;
    border:#a2bb37 solid 1px;
}

#map-canvas{
   height:300px;
   width:100%; 
   margin:50px auto;
}

#our-contact{
    margin: 0 auto;
    list-style-type: none;
    font-weight:100;
    list-style-position:inside;
    padding:0;
}

#our-contact p{
    font-weight:400;
}
.email{
    color:dodgerblue;
}


/**********************************
SUBMIT FORM
***********************************/

.contact-form-container {
	max-width:600px;
	width:100%;
	margin:0 auto;
	position:relative;
    font-family:"Roboto";
    font-size:1em;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Roboto"; }

#contact {
	background:#f9fbf2;
	padding:0px 25px 15px 25px;
	margin:50px 0;
}

h2 {
	color: #515d1b;
	display: block;
	font-size: 2em;
	font-weight: 400;
    font-family:"Days one";
    margin-bottom:30px;
}

#subject{
    border-top:30px;
}

#contact h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
    font-size:1em;
}


fieldset label{
    font-size:1.2em;
    color:#333;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:100%;
	border:1px solid #a2bb37;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
    font-size:1.2em;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #515d1b;
}

#contact textarea {
	height:100px;
	max-width:100%;
    resize:none;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:#a2bb37;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:1.1em;
    font-weight:bold;
}

#contact button[type="submit"]:hover {
	background:#515d1b;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #515d1b;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}
fieldset{
    margin-bottom:10px;
}