
/**********************************
ALL PAGE 
***********************************/

.page-right-arrow:after {
    content: "\00A0\203A";
    font-weight:bold;
    font-size:1em;
}

/**********************************
PAGE HEADER IMAGE AND DESCRIPTION
***********************************/
.page-container{
    background-color:white;
    margin-bottom:70px;
}

.page-header-container{
    width:100%;
    height:auto;
    margin: 0px auto;
    margin-bottom:100px;
    font-family: 'Ubuntu';   
}

.page-title h1{
    color:white;
}

.page-image img{
    width:100%;
    height:auto;
    z-index: 2;
    margin:0 auto;
	display: block;
    box-shadow: 1px 5px 5px #ddd;
}

.page-description p{
    font-size:1.2em;
    font-weight:100;
}

@media only screen and (max-width: 800px){
    .page-description p{
        font-size:1.2em;
    }
}


/**********************************
MAIN PAGE CONTENT
***********************************/
.main-content{
    width: 85%;
    margin: 0 auto;\
}

.item-description,.item-img{
    display:inline-block;
}

.main-content-items-container{
    width:100%;
    height:100%;
    margin:0 auto;
    padding-top:20px;
    padding-bottom:25px;
    position:relative;
    font-family:"Ubuntu";
}

.item-description{
    height: 100%;
    width: 70%;
    float:right;
    padding:0px 20px;
    padding-top:0px !important;
} 

.item-img{
    float:left;
    width:30%;
    top:0;
    bottom: 0;
}

.item-img img{
    max-height:250px;
}

.item-description h2 a{
    color:#444 !important;
    text-align: left;
}

.item-description h2 a:hover{
    text-decoration: underline;
    border:none;
  
}

.item-description p{
    color:gray;
    text-align: left;
    font-weight:100;
    padding-top:10px;
}


@media only screen and (max-width: 800px){
    .main-content{
        width: 95%;
    } 
    .item-image{
      width: 40%;
    }
    .item-img img{
        height:auto;
    }
    .item-description h2 a{
        font-size:0.9em;
    }
    .item-description p{
        font-size:1.1em;
    }
    .item-description{
        padding-top:0px;
    }
    .page-container{
        margin-bottom:0px;
    }
}


@media only screen and (max-width: 500px){
   
   .page-header-container{
        margin-bottom:50px; 
    }
}





