/**********************************
GENERAL
***********************************/
body {
    font-size: 14px;
    background-color: #ddd;
    line-height: 1.42857;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    

}
p{
    font-size: 1.2em;
    color:#2a3109;
}

h2{
    font-size: 1.5em;  	
    color:#222;
}

h1{
    text-align:center;
    margin-bottom:40px;
    font-weight:bolder;
    font-size:3em;
    color:#333;
    font-family:"Days one";
    font-weight:100;
}


*, *:before, *:after {
  -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
}


html {
    font-family:"Days one";
    font-size: 10px;
    -webkit-text-size-adjust: 100%;
}

a, a:hover {
  color:#161a05;
}
a{
   transition: all .2s;
}
a:hover {
    border-bottom: rgba(255,247,0,1) solid 3px;
    text-decoration:none;
}

img {
  max-width: 100%;
}


.right-arrow:after {
    content: "\00A0\203A";
    font-weight:bold;
    color:rgba(255,247,0,1);
    font-size:1.2em;
}

#bodyWrap{
    background-color:white;
    margin: 0 auto;
    margin-top:0px;
    height:100%;
    max-width: 1400px;
    width:100%;
    font-family:"Days one";
    border-right: rgba(98,94,86,0.6) solid 2px;
    border-left: rgba(98,94,86,0.6) solid 2px;
    box-shadow: rgba(98,94,86,1) 0px 0px 20px;
   
}

@media only screen and (max-width: 800px) {
   body { font-size: 1.33em; }
   p { font-size: 1.33em; }
   h2 { font-size: 1.7em; }
   h1 { font-size: 2.5em; }
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


/**********************************
Language Selector
***********************************/
.imd-select {
	height:50px;
	width: 200px;
    right:0;
    margin-top:10px;
    margin-right:20px;
    font-family: "Days one";
}
.imd-select a {
    text-decoration: none;
}
.imd-select ul {
    list-style: none;
    padding: 0;
}

.imd-selector {
    font-size:1.2em;
	display: block;
}
.imd-selector:after {
	content: '\f078';
    font: normal normal normal 12px/1 FontAwesome;
	position: absolute;
    padding-top:7px;
    padding-left:5px;
    color:#333;
}
.imd-select-list {
  display: none;
}

.imd-select-list li a{
    font-size:.8em important;
}

.imd-select a {
   color:#2a3109;
}
.imd-select a :hover {
    cursor: pointer;
    color:#2a3109;
}

imd-select-list-item:hover{
    text-decoration:underline;
}
/**********************************
TOP NAVIGATION
***********************************/
.top-navbar {
   font-family:"Roboto";
   border-radius: none;
   height:100%;
   width:83%;
   margin: 0 auto;
   position:relative;
   font-size:1.1em;
}

.logo{
    display:inline-block;
    font-weight:bold;
    float:left;
    width:300px;
}

.search-lang{
    float:right;
    display:inline-block;
    width:340px;
    color:#a3bb37; 
}

.logo img{
    width:105px;
    height:105px;
    margin-top:5px;
}

.logo p{
    margin-left:5px;
    color:#83971e;
    margin-bottom:0px;
    font-size:1.2em;
    font-family: "Days one";
    font-weight:100;
}


.top-navbar a:hover{
    border:none;
}

.form-control{
    outline:none;
    color:#999;
}

#imaginary_container{
    margin-top:28px;
    margin-bottom:15px;
    
}
.stylish-input-group .input-group-addon{
    background: #A2BB37 !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border:solid #A2BB37 2px;
    height:40px;
    font-size:1em;
   
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
.stylish-input-group button:hover{
    border:0;
    background-color:#798b1b;
}

.glyphicon{
    color:white;
    font-size:17px;
}


@media only screen and (max-width: 800px){
    .top-navbar {
       height:90px;
       margin-left:10px;
    }
    .logo{
        margin-bottom:5px;
        width:230px;
    }
	.logo img{
        width:70px;
        height:70px;
    }
    .logo p{
        font-size:1.1em;
    }
    .search-lang{
        width:130px;
    }
    .imd-select {
        font-size:1em !important;
        width:120px;
        font-weight:100;
    }
    #imaginary_container{
        display:none;
    }
}

@media only screen and (max-width: 1100px){
    .top-navbar {
       width:95%;
    }
}




/**********************************
MAIN NAVIGATION
***********************************/

.navbar-main {
    border-radius: none;
    font-size: 1.6em;  
    font-family:"Days one";
}

.main-navbar-ul{
    background-color:#a2bb37;
    text-align: center;
    width:100%;
    height:70px;
    margin-left:-31px;
}

.main-navbar-ul li{
     float: none;
     display: inline-block;
     padding:10px 5px;
     height:100%;
     border-radius:none;
     
}

.main-navbar-ul li:hover, .main-navbar-ul li:focus, .main-navbar-ul li:active{
    background-color:#eaf2c0;
    border-bottom: rgba(255,247,0,1) solid 5px;
    text-decoration:none;
    border-radius:none;
}

.navbar-nav > li > a{
     color:#161a05;
}
.navbar-nav > li > a:hover,  .navbar-nav > li > a:focus,   .navbar-nav > li > a:active {
    background-color:#eaf2c0;
    text-decoration:none;
    border:none;
}





.dropdown-menu{
    margin:0px 0px;
    padding:0px 0px;
}

 .dropdown-menu li{
    margin: 0 auto;
    text-align: center;
    width: 100%;
    transition-property: all
    transition-duration: .7s;
}

.dropdown-menu  li a{
    background-color:white;
    font-size:1.3em;
    transition-property: all;
    transition-duration: .7s;
    font-weight:100;
    font-size:1.6rem;
    color:#2a3109;
}

 .dropdown-menu li:hover, .dropdown-menu li:focus  .dropdown-menu > li > a:active .dropdown-menu > li > a{
   border:none;
   background-color:white;
   text-decoration: underline;

}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > li > a:active {
    text-decoration: underline;
    background: white;
    border:none;
    color:#2a3109;
}


.dropdown-toggle{
  border-color: #563D7C;
}

.dropdown-toggle:hover,
.dropdown-toggle:focus,.dropdown-toggle:active {
  background-color: #563D7C;
}
/**********************************
MAIN PAGE
***********************************/

.main-page-container{
    background:  url(../images/Refinery%20Workers.jpg);
    background-repeat:no-repeat;
    background-size:100% 100%;
    background-position: center ;
    height:500px;
    max-height:500px;
    max-width:1150px;
    width:84%;
    position:relative;
    margin: 0 auto;
    margin-top:30px;
    margin-bottom:-40px;
    font-family:"Days One";
}


.main-desc-container{
    position:absolute;
    display: table;
    height:100%;
    width:35%;
    left:5%;
    background-color:rgba(204,204,204,0.8);
   
} 

.inside-main-desc-container{
    display: table-cell;
    vertical-align: middle;
    padding-left:40px;
    padding-right:40px;
    
}


.inside-main-desc-container h2 {
    margin-top:0px;
    font-size:2.3em;
    font-weight:bolder;
    color:#222;
    line-height:1.5em;
}
.inside-main-desc-container p {
    font-size:1.6em;
    color:#3e422e;
    margin-bottom:10px;
    font-weight:100;
    text-shadow: 1px px 1px rgba(0,0,0,0.2);
    
} 

.main-description-sm{
    width:100%;
    height:100%;
    background-color:#a2bb37;
    color:white;
    padding:1px 20px;
    font-family:"Days One";
    margin-top:0px;
}



a.read-more, a.read-more:hover, a.read-more:active, a.read-more:focus{
    font-size:1.2em;
    padding:7px 10px;
    color:white;
    background-color:#5c6a15;
    font-family:"Roboto";
}


@media (min-width:800px) { 
    .main-description-sm{display:none;} 
    .main-desc-container{display:table;} 
    .main-page-container{width:100%;}
} 
@media (max-width:800px) { .main-desc-container{display:none;} .main-description-sm{display:block; } .main-page-container{margin-bottom:0px; width:100%;  margin-top:30px;} } 

/**********************************
THIRD PAGE
***********************************/
.capability-page-container, .group{
    margin: 0 auto;
}
.capability-page-container{
    margin-top:120px;
    width:90%;
}


.capability-container:hover{
    box-shadow: 0 0 6px 4px #999;
}

.capability-container .capability-image, .capability-container .capability-description{
    height:100%;
    display:inline-block;
}


.capability-container{
    transition:border 0.6;
    width:510px;
    height:320px;
    max-height:320px;
    transition-property:box-shadow;
    transition-duration: .5s;
    position:relative;
    font-family:"Days One";
    margin:0 auto;
    margin-bottom:60px;
}

.outer-description{
    position:absolute;
    display: table;
    height: 100%;
    width: 100%;
} 

.middle {
    display: table-cell;
    vertical-align: middle;
    background-color:#a2bb37;
}

.inner {
    width: 40%;
    padding-left:20px;
    padding-right:20px;
    top:0;
    bottom: 0;
}

.investors .capability-image{
    background:  url(../images/Investors_iStock_01.png) no-repeat center;
    background-size: cover;
    background-position: left top;

}
.operations .capability-image{
    background:  url(../images/operations.jpg) no-repeat center;
    background-position: left bottom;
    background-size: cover;
}

.projects .capability-image{
    background:  url(../images/projects1.jpg) no-repeat center;
    background-size: cover;
    background-position: left top;
}
.mission .capability-image{
    background:  url(../images/hseq2.jpg) no-repeat center;
    background-size: cover;
    background-position: right bottom;
}
.capability-image{
    width: 60%;
    z-index:902;
    position:absolute;
    top:0;
    bottom: 0;
}

.container-col-1 .inner {
    float:right;
    right:0;
}

.container-col-1 .capability-image{
    float:left;
    left:0;
}

.container-col-2 .inner {
    float:left;
    left:0;
}

.container-col-2 .capability-image{
    float:right;
    right:0;
}
.container-col-1,.container-col-2{
    display:inline-block;
    float:left;
    width:50%;
    min-width:570px;
}


@media only screen and (max-width: 800px) {
    .capability-container{  margin: 0 auto; width:100%; margin-bottom:80px;   
    max-height:320px;} 
    .capability-container:first-child{margin-top:30px;  }
}



/**********************************
LAST STATEMENT
***********************************/
.work-with-us-wrapper{
    margin: 0 auto;
    width:90%;
    height:100%;
    font-family:"Days One";
}

.work-with-us, .this-year{
    width:510px;
    margin:0px auto;
    position:relative;
    margin-bottom:60px;
}
.work-with-us{
    transition-property:box-shadow;
    transition-duration: .5s;
}

.work-with-us-image{
    background:  url(../images/Securpolice_sicurezza-milano_lavoro.jpg) no-repeat center;
    background-size: cover;
    width:100%;
    height:200px;
    top:0;
}

.work-with-us-description{ 
    color:white;
    padding: 0px 20px;
    background-color:rgba(162,187,37,1);
    width:100%;
    height:100%;
    top: 70%;
    bottom:0;
    border: #A2bb37 solid 1px;
}


.work-with-us h2{
   line-height:10px;
   padding-bottom:5px;
   color:#222;
}


.work-with-us:hover{
   -webkit-box-shadow: 0 0 6px 4px #999;
   -moz-box-shadow: 0 0 6px 4px #999;
        box-shadow: 0 0 6px 4px #999;
}
.this-year{
    text-align:center;
   
}

.this-year img{
    margin: 0 auto;
    display: block;
}

#this-year-note{
    font-size: 1.3em;
    color:#161a05;
    text-align: center;
}


@media only screen and (max-width: 800px) {
    .work-with-us{  margin: 0 auto; width:100%; margin-bottom:80px;    } 
    .work-with-us-wrapper{
        width:90%;
        margin: 0 auto;
        height:100%
    }
    #this-year-note{
        font-size: 1.4em;
    }
}

/**********************************
RELATED INFO PAGE
***********************************/
.related-info-page-container-large{
    background:  url(../images/Photo-Washington-T.png);
    background-size: cover; 
    height:100%;
    background-position:right;
    position:relative;
    width:85%;
    margin: 50px auto;
    margin-bottom:100px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    font-family:"Days one";
    font-weight:lighter;
}

.related-info-page-container-small{
    width:90%;
    height:100%;
    margin: 0 auto;
    margin-top:40px;
    margin-bottom:60px;
    font-size:1em;
    font-weight:lighter;
}
.related-info-page-container-large:before{
    content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
    background: linear-gradient(to right, rgba(194,218,72,0.6), rgba(194,218,72,0.6) 33%, rgba(180,180,180,0.6) 33%, rgba(180,180,180,0.6)67%, rgba(194,218,72,0.6) 67%, rgba(194,218,72,0.6));
}



.related-info-col{
    padding: 25px 30px;
    position:relative;
    float:left;
    display:inline-block;
    width:33%;
    height:100%;
    padding-bottom:35px;
}


.related-info-col-sm{
    padding: 20px 35px;
    padding-bottom:35px;
    position:relative;
}

.related-info-container-sm,.title-sm, .indicators-list-sm-container  {
    position:relative;
    z-index:100;
}

.links, .links-sm{
    background:  url(../images/image_part_1.jpg) no-repeat center;
    background-size: cover; 
}
.news, .news-sm{
    background:  url(../images/image_part_2.jpg) no-repeat center;
    background-size: cover; 
}
.indicators, .indicators-sm{
    background:  url(../images/image_part_3.jpg) no-repeat center;
    background-size: cover; 
}

.news:before, .news-sm:before{
    content: '';
    position:absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
    background-color: rgba(180,180,180,0.6);
}

.links:before, .indicators:before, .links-sm:before, .indicators-sm:before{
    content: '';
    position:absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
    background-color: rgba(194,218,72,0.6);
}


.related-info-container{
    margin-top:30px;
    border-bottom: #72808E dotted 1px;
}

.related-info-container-sm{
    margin-top:15px;
    border-bottom: #72808E dotted 1px;
}

.date{
    color:rgba(0,0,0,0.7);
    font-style:italic;
    font-size:1.1em;
    line-height:1em;
}

.related-info-container .newsLink:hover, .related-info-container .newsLink {
    color:rgba(0,0,0,1);
}
.related-info-container .linksLink:hover, .related-info-container .linksLink {
    color:rgba(0,0,0,1);
}

.indicators-list{
    list-style:none;
    padding-left:0;
    padding-top: 20px;
}

.indicators-list li{
    padding-bottom:10px;
}

.indicators-list  p{
    color:#222 !important;
    font-weight:lighter;
}

.related-info-col a:hover, .related-info-col-sm a:hover{
    border:none;
    text-decoration:underline;
}


.right-arrow-black:after {
    content: "\00A0\203A";
    font-weight:bolder;
    color:#222;
}



@media screen and (min-width: 0px) and (max-width: 800px) {
    .related-info-col{  margin: 0 auto; width:100%; margin-bottom:0px;   } 
    .related-info-page-container-large{
         display: none;
    }
    .related-info-page-container-small{
         display: block;
    }
    
}

@media screen and (min-width: 800px) and (max-width: 2048px) {
    .related-info-page-container-small{
         display: none !important;
    }
    .related-info-page-container-large{
         display: block;
    }
}



/**********************************
PAGE-CONTENT
***********************************/

/***********************************************************************************************
FOOTER
************************************************************************************************/




/**********************************
SEOND FOOTER
***********************************/

.footer-wrapper-1{
    background:  url(../images/dirty-old-black-shirt.png) no-repeat center;
    background-size: cover;
    font-family:Ubuntu;
    text-shadow: 0 1px 0 rgba(17, 17, 17, 0.5);
    -webkit-font-smoothing: antialiased;
    color: white;
    color:#d0de91;
    border-top:#4f5c12 solid 3px;
    text-shadow: 0 2px 0 rgba(17, 17, 17, 0.32);
}

.footer-content-wrapper-1{
    width:90%;
    height:100%;
    margin: 0 auto;
}


.first-footer-col  h4{
    font-weight:bold;
    font-size: 1.7rem;
    margin-bottom:20px;
    padding-top:20px;
}

.first-footer-col  ul{
    list-style:none;
    font-size: 1.5rem;
    padding-left:0;
}

.first-footer-col  P{
    font-size: 1.5rem;
}

.first-footer-col  li a, .first-footer-col  p,.newsletter{
    font-weight:normal;
    transition-property: font-weight, color;
    transition-duration:0.4s;
    color:#d0de91;
}

.first-footer-col  li a:hover{
    border:none;
    text-decoration: underline;
    color:#d0de91;
    font-weight:500;
}

.who-we-are, .what-we-do, .contact-info,.newsletter{
    font-weight:100;
}


.newsletter{
    margin-bottom:20px; 
}


input.btn.btn-lg{
    color:#777;
}
input.btn.btn-lg:hover , input.btn.btn-lg:focus{
     color:#111;
}

input#enter-email{
    transition-property: color;
    transition-duration:0.3s;
    border:#4c5811 solid 2px;
    font-size:1.5rem;
    border-radius: 5px;
    padding: 5px 5px;
    padding-left:10px;
}


input#enter-email:active, input#enter-email:visited,input#enter-email:link,input#enter-email:focus,input#enter-email:hover{
    border:#4c5811 solid 2px;
    color:#666;
    outline:0;
}

input.btn {
    background-color:  #4c5811;
    transition-property: background-color;
    transition-duration:0.3s;
    font-size:1.5rem;
    color:white;
}

input.btn:hover,input.btn:active {
    background-color:#282e09;
    outline:none;
    color:white;
}


.container{
    width:100%
}

.col{
    padding-bottom: 10px;
}
.clo-large{
    padding-left:30px;
}

@media only screen and  (max-width: 640px) {
   
}

/**********************************
THIRD FOOTER
***********************************/


.footer-wrapper-2{
    position:relative;
    background:  url(../images/dirty-old-black-shirt-2.png) no-repeat center;
    background-size: cover;
    height:100%;
    width: 100%;
    margin-bottom:0px;
    color:white;
    font-size:1em;
    font-weight:500;
    font-family:Ubuntu;
    color: #dedede;
    padding-bottom:5px;
    color:#A2BB37;
    text-shadow: 0 2px 0 rgba(17, 17, 17, 0.32);
}

.footer-content-wrapper-2{
    width:90%;
    height:100%;
    margin: 0 auto;
}

/****** LOGO RIGHT ******/
.footer-logo{
    width:200px;
    margin-right:30px;
    float:left;
    text-align: left;
    display: inline-block;   
}

.footer-logo img{
    width:70px;
    height:70px; 
    display: block;
    margin-top:5px;
}

.footer-logo span{
    font-size:1em;
    font-weight:400;
    color:#A2BB37;
    margin-top:75px;
    display: block;
    font-family:kanit;
    text-shadow: 0 2px 0 rgba(17, 17, 17, 0.32);
    font-family:"Kanit";
}

/****** COPYRIGHT RIGHT ******/

.footer-copyright{
    float:right;
    margin-right:30px;
    width:300px;
    height:100%;
    text-align: right;
    display:inline-block;
}

.footer-copyright-2{
    width:100%;
    height:100%;
}

.footer-copyright  ul{
    padding:0px 0px;
    margin-top:20px;
    list-style-type: circle;
}

.footer-copyright li{
    display:inline-block; 
}

.footer-copyright li:not(:last-child){
    margin-right:20px;
}
.footer-copyright li a{
    font-size:1.5rem;
    color:#A2BB37;   
}

.footer-copyright li a:hover{
    border:none;
    text-decoration: underline;
}

.footer-copyright p{ 
    line-height:3em;
    font-size: 0.8em;
     color:#A2BB37;  
}


@media only screen and  (max-width: 640px) {
    .footer-copyright{
        text-align: left;
        display:block;
        float:left;
        
    }  
    .footer-copyright li:not(:first-child){
       margin-right:20px;
    }
}




