/**********************************
GENERAL
***********************************/

body {
   font-family: "Open Sans" ,'AdobeGaramondW01-Regula', Times, Georgia, serif;
   background-color: white;
}

*{
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color:dimgray;
}

img {
  max-width: 100%;
}

h1{
    color:rgba(0,0,0,0.9);
    line-height: 3em;
}

.right-arrow:after {
    content: "\00A0\203A";
}

.page-wrapper{
    background-color:white;
    margin: 0 auto;
    margin-top:0px;
    height:100%;
    width: 1400px;
    border-right: rgba(98,94,86,0.6) solid 2px;
    border-left: rgba(98,94,86,0.6) solid 2px;
    box-shadow: rgba(98,94,86,1) 0px 0px 20px;
   
}


/**********************************
TOP NAVIGATION
***********************************/
.top-navbar {
   font-family:Kanit;
   border-radius: none;
 
   background-color:white;
   height:120px;
   margin-left:100px;
   margin-right:100px;
   position:relative;
}

.search-lang{
    float:right;
    display:inline-block;
    width:30%;
}

.logo{
    display:inline-block;
    margin-top:10px;
    color:rgba(162,187,37,1); 
    font-size:1.2em;
    float:left;
    width:30%;
}

.logo img{
    width:80px;
    height:80px;
}

.lang-wrapper{
    height:30px;
    font-size:1.3em;
    margin-right:0px;
    margin-top:12px;
}

ul.lang-wrapper-list {
    display:inline-block;
    list-style: none;   
}
ul.lang-wrapper-list li {
    display:inline-block;
    margin:0;
}

ul.lang-wrapper-list li a{
    color:rgba(0,0,0,0.7);
}

ul.lang-wrapper-list li i{
    padding:0px 4px;
    color:rgba(0,0,0,,0.7);
}


.lang-wrapper-list .selected,.lang-wrapper-list i a:hover{
    border-bottom: rgba(0,0,0,0.7) solid 2px;
    text-decoration: none;
}

.search-form{
    margin-right:0px;
    margin-top:25px;
}

.search-form .form-control{
   border:rgba(0,0,0,0.5) solid 2px;
   height:40px;
   font-size:1.7rem; 
}

.search-form .btn {
    width:40px;
    height:40px;
    background-color:rgba(0,0,0,0.6); 
    color:white;
    font-weight:900;
    font-size:1.7rem;
    top:0;
}

.search-form .btn:hover {
    background-color:rgba(0,0,0,0.7);    
}


/**********************************
MAIN NAVIGATION
***********************************/

.navbar-main {
   font-family:"Titillium Web";
   border-radius: none;
   position: relative;
   width:100%; 
   font-size: 1.6em;  
   color:#43b1b1;
   background-color:rgba(162,187,37,1);
   margin-top:5px;
}

.main-nav-items{
    color:#43b1b1;
    color:white;
}
#myNavbar{
    margin-right:250px;
}

.main-navbar-ul li{
    padding:5px 5px; 
    transition-property: all ;
    transition-duration: 0.5s;
   
}

.dropdown-menu  li a{
    background-color:white;
    font-size:1.2em;
    transition-property: all ;
    transition-duration: 0.3s;
}


.main-navbar-ul li:hover, .main-navbar-ul li:focus{
    color:black;
    border-radius: 4px;
    background-color:#b7ce57;
}


.navbar-nav > li > a:hover,  .navbar-nav > li > a:focus,   .navbar-nav > li > a:active {
    color:black;
    border-radius: 4px;
}

.dropdown-menu  li{
    border:none;
}

.dropdown-menu  li a{
    color:rgba(98,94,86,0.9);
    font-weight:100;
    font-size:1.4rem;
}

 .dropdown-menu li:hover, .dropdown-menu li:focus{
   border:none;
   background-color:white;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > li > a:active {
    text-decoration: underline;
    background: white;
    transition:none;
    color:rgba(98,94,86,0.9);
}

.dropdown-menu{
    margin:0px 0px;
    padding:0px 0px;
}

/**********************************
MAIN PAGE
***********************************/

.main-page-container{
    background:  url(../images/Refinery%20Workers.jpg) no-repeat center;
    background-size: cover;
    transition:border 0.6;
    height:500px;
    transition-property:border-color;
    transition-duration: .5s;
    margin: 50px 130px;
    margin-bottom:0px;
    position:relative;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}


/*.main-page-container:before{
    content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to top,rgba(47,186,186,0.3)40%,rgba(47,186,186,0.3));
	opacity: .6;
}*/



.main-description{
    position:absolute;
    left:10%;
    background-color:rgba(98,94,86,0.65);
    color:white;
    height:100%;
    width:30%;
    vertical-align: middle;
    padding:80px 30px;
    font-size:1.5em;
    font-weight:500;
   
} 


.description h3{
    font-size:1.25em;
} 

.description p{
    font-size:1em;
} 

.description a{
    background-color:rgba(162,187,37,1);
    border-radius:1px;
    color:white;
    font-size:0.75em;
    padding:8px 10px;
    font-weight:600;
} 


.description a:hover{
    text-decoration:underline;
}



/**********************************
THIRD PAGE
***********************************/
.goal-page-container{
    position:relative;
    height:670px;
    margin: 100px 100px;
    margin-bottom:0px;
}

.goal-page-container h1{
    text-align:center;
    margin-bottom:-15px;
    color:#333;
}

.capability-container{
    transition:border 0.6;
    width:510px;
    height:270px;
    transition-property:box-shadow;
    transition-duration: .5s;
    display:inline-block;
    float:left;
    margin:30px 40px;
    background-color:#f2f2f2;
    position:relative;
}

.capability-container:hover{
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}



.operations{
    background:  url(../images/1.jpg) no-repeat center;
    background-size: cover; 
}   
.projects{
    background:  url(../images/2.jpg) no-repeat center;
    background-size: cover; 
}
.investors{
    background:  url(../images/6.jpg) no-repeat center;
    background-size: cover; 
}
.mission{
    background:  url(../images/7.jpg) no-repeat center;
    background-size: cover; 
}



.container-col-1 .item-title{
    left:30px;
}
.container-col-2 .item-title{
    right:30px;
}

.capability-img{
    width:40%;
}

.capability-img img{
    width:40%;
    height:230px;
}

.capability-description{
    width:60%;
}
.container-col-1 .capability-img{
    float:right;
}

.container-col-1 .capability-description{
    float:left;
}

.container-col-2 .capability-img{
    float:left;
}
.container-col-2 .capability-description{
    float:right;
}

.capability-description{
    position:absolute;
    background-color:rgba(162,187,37,1);
    text-align: left;
    height:100%;
    width:45%;
    vertical-align: middle;
    padding:80px 30px;
    font-size:1em;
    font-weight:500;
} 

.capability-description a:hover, .capability-description a{
    color:white;
}
.capability-description p{
    color:white;
}

.container-col-1 .capability-description{
    right:0;
}


/**********************************
RELATED INFO PAGE
***********************************/

.related-info-page-container{
    background:  url(../images/Photo-Washington-Times-1200x784----.png) no-repeat center;
    background-size: cover; 
    height:400px;
    position:relative;
    margin: 120px 120px;
    margin-bottom:100px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}


.related-info-page-container:before{
    content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
    background: linear-gradient(to right, rgba(162,187,37,0.2), rgba(162,187,37,0.2) 33%, rgba(50,50,50,0.1) 33%, rgba(50,50,50,0.1)67%, rgba(162,187,37,0.2) 67%, rgba(162,187,37,0.2));
}

.related-info-col{
    padding: 25px 40px;
}


.related-info-title, .related-info-title:hover{
    color:rgba(0,0,0,1);
    line-height:4rem;
}

.related-info-container{
    margin-top:30px;
    border-bottom: #72808E dotted 1px;
}

.related-info-container .date{
    color:rgba(0,0,0,0.7);
    font-style:italic;
    line-height:.5rem;
    font-size:1.5rem;
}

.related-info-container .newsLink:hover, .related-info-container .newsLink {
    color:rgba(0,0,0,1);
    font-size:1.5rem;
}
.related-info-container .linksLink:hover, .related-info-container .linksLink {
    color:rgba(0,0,0,1);
    font-size:1.5rem;
}

.indicators-list{
    list-style:none;
    padding-left:0;
    padding-top: 20px;
    color:rgba(0,0,0,1);
    font-size:1.5rem;
}

.indicators-list li{
    padding-bottom:10px;
}

.indicators-list  i{
    color:rgba(0,0,0,0.8);
    padding-right:1rem;
    font-size:1.6rem;
}
.indicators-list  strong{
    font-weight:bolder;
}


/**********************************
LAST STATEMENT
***********************************/
.last-statement{
    height:335px;
    color:rgba(0,0,0,1);
    margin: 150px 135px;
    margin-bottom:20px;
    position:relative;
    
}
.last-statement-col-1{
    transition-property:box-shadow;
    transition-duration: .5s;
    margin-top: 10px;
    width:590px;
    height:290px;
    background:  url(../images/Securpolice_sicurezza-milano_lavoro.jpg) no-repeat center;
    background-size: cover;
}


.last-statement-col-1 p{ 
    text-align: left;
    font-size:1.3em;
    color:white;
    font-weight:400;
    padding-top:20px;
    line-height:2.6rem;
    padding: 10px 20px;
    margin-top:180px;
    background-color:rgba(162,187,37,1);
    z-index:3;
    transition-property:box-shadow;
    transition-duration: .5s;
}




.last-statement-title-anchor, .last-statement-title-anchor:hover{
    color:black;
    font-weight:500;
    padding-left:50px;
}



.last-statement-col-1:hover{
    box-shadow: 0 59px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}




.last-statement-col-3  {
    text-align: center;
    font-size:1.6rem;
    margin-right:20px;
}






/**********************************
PAGE-CONTENT
***********************************/
.content-wrapper{
    min-height:calc(100vh-500px);
}
/***********************************************************************************************
FOOTER
************************************************************************************************/




/**********************************
SEOND FOOTER
***********************************/

.footer-wrapper-1{
    background:  url(../images/dirty-old-black-shirt-.png) no-repeat center;
    background-size: cover;
    padding: 20px 110px;
    font-family:Ubuntu;
    text-shadow: 0 1px 0 rgba(17, 17, 17, 0.5);
    -webkit-font-smoothing: antialiased;
    color: white;
}

.footer-2 h4{
    color: white;
    font-weight:bold;
    font-size: 1.7rem;
    line-height: 4rem;
}

.footer-2 ul{
    list-style:none;
    font-size: 1.5rem;
    padding-left:0;
}


.footer-2 li a,.footer-2 li, .newsletter{
    color: white;
    font-weight:normal;
    transition-property: font-weight, color;
    transition-duration:0.4s;
}

.footer-2 li a:hover{
    color: white;
    font-weight:500;
}

.who-we-are, what-we-do, contact-info{
    color: white;
    font-weight:100;
}


.input-group {
    width: 300px;
    position:relative;
    overflow:hidden; 
    border-color: #A2BB37;
}

input.btn.btn-lg,
input.btn.btn-lg:focus {
    outline: none;
    width: 60%;
    height: 40px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    font-size:1.5rem;
    font-weight:500;
    position:absolute;
}

button.btn {
    width: 40%;
    height: 40px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color:  #4c5811;
    font-size:1.5rem;
    font-weight:900;
    position:absolute;
    margin-left:60%;
    border:none;
    transition-property: background-color;
    transition-duration:0.3s;
}

button.btn:hover {
    background-color:#282e09;
}


.container{
    width:100%
}

.col{
    padding-bottom: 10px;
}
.clo-large{
    padding-left:30px;
}

/**********************************
THIRD FOOTER
***********************************/


.footer-wrapper-2{
    position:relative;
    background:  url(../images/dirty-old-black-shirt.png) no-repeat center;
    background-size: cover;
    height:100px;
    width: 100%;
    margin-bottom:0px;
    bottom:0;
    overflow: auto;
    color:white;
    font-size:1em;
    font-weight:500;
    font-family:Ubuntu;
    color: #dedede;
    padding: 0px 120px;
}

/****** LOGO RIGHT ******/
.footer-logo{
    width:20%;
    float:left;
    text-align: center;
    vertical-align: top;
    display: inline-block;
}

.footer-logo img{
    width:70px;
    height:70px; 
}

.footer-logo span{
    font-size:1em;
    color:#A2BB37;
    text-shadow:none;
    display: block;
}

/****** COPYRIGHT RIGHT ******/

.footer-copyright{
    float:right;
    width:30%;
    height:100%;
    position:relative;
    text-align: right;
}

.footer-copyright-2{
    width:100%;
    height:100%;
}

.footer-copyright  ul{
    margin-right:20px;
    margin-top:20px;
    list-style-type: circle;
    
    text-shadow: 0 2px 0 rgba(17, 17, 17, 0.32);
}

.footer-copyright li{
    display:inline-block;
    margin-right:20px;
}

.footer-copyright li a{
    color:white;    
}

.footer-copyright li a:hover{
    text-decoration:none;
    border-bottom: white solid 1px;
}

.footer-copyright p{ 
    line-height:1.7em;
    text-align:right;
    font-size: 0.8em;
    margin-right:40px;
}








