
/**********************************
ALL PAGE 
***********************************/

.page-right-arrow:after {
    content: "\00A0\203A";
    font-weight:bold;
    font-size:1em;
}

/**********************************
PAGE HEADER IMAGE AND DESCRIPTION
***********************************/
.page-container{
    background-color:white;
    border:#889d2e solid 1px;
    margin-bottom:70px;
}

.page-header-container{
    width:100%;
    height:100%;
    margin: 0px auto;
    margin-bottom:100px;
    font-family: 'Roboto';
    position:relative;
}
.page-title h1{
    color:white;
}

.page-image img{
    width:100%;
    height:auto;
    max-height:400px;
    z-index: 2;
    margin:0 auto;
	display: block;
}

/*.page-desc{
    position:relative;
   
    width:80%;
    background-color:rgba(241,242,243,1); 
    background-color:#f9fbf2;
    color:	#515d1b;
    padding:20px 30px;
    font-size:1em;
    line-height:30px;
    font-weight:100;
    z-index: 3;
    margin-top:-90px;
    margin-left:10%;
} */


.page-description p{
    font-size:1.2em;
    font-weight:100
}

@media only screen and (max-width: 800px){
    .page-description p{
        font-size:1.2em;
    }
    /*.page-desc {
        padding:10px 15px 5px 20px;
        margin-top:0px;
        margin-left:0px;
        margin-bottom:0px;
        width:100%;
        max-width:100%;
    }*/
}


/**********************************
MAIN PAGE CONTENT
***********************************/
.main-content{
    width: 85%;
    margin: 0 auto;
    margin-bottom:70px;
}

.item-description,.item-img{
    display:inline-block;
}

.main-content-items-container{
    width:100%;
    height:100%;
    margin:0 auto;
    padding-top:20px;
    padding-bottom:25px;
    position:relative;
    font-family:"Roboto";
}


.item-description{
    height: 100%;
    width: 70%;
    float:right;
    padding:20px 20px;
    
} 

.item-img{
    float:left;
    width:30%;
    top:0;
    bottom: 0;
}

.item-img img{
    max-height:250px;
}

.item-description h2 a{
    color:#444 !important;
    text-align: left;
    font-size:1.3em;
}

.item-description h2 a:hover{
    text-decoration: underline;
    border:none;
  
}

.item-description p{
    color:gray;
    text-align: left;
    font-size:1.3em;
    font-weight:100;
    padding-top:10px;
}




@media only screen and (max-width: 800px){
    .main-content{
        width: 95%;
    } 
    .item-image{
      width: 40%;
    }
    .item-img img{
        height:auto;
    }
    .item-description h2 a{
        font-size:0.9em;
    }
    .item-description p{
        font-size:1.1em;
    }
    .item-description{
        padding-top:0px;
    }
}







