
/**********************************
PAGE TITLE
***********************************/
.others-right-arrow:after {
    content: "\00A0\203A";
}

.page-container{
    width:84%;
    height:100%;
    margin: 0px auto;
    margin-top:20px;
    font-family: 'Days one';
    padding-bottom:40px;
}

.page-title{
    font-family: 'Days one';
    padding-top:15px;
    z-index:999;
    position:relative;
    background:  url(../images/diamond-eyes-1920x1080.png) no-repeat center;
    background-size: cover;
    font-family:Ubuntu;
    text-shadow: 0 1px 0 rgba(17, 17, 17, 0.5);
    -webkit-font-smoothing: antialiased;
    color:#d0de91;
    text-shadow: 0 2px 0 rgba(17, 17, 17, 0.32);
    text-align:center;
}

.page-title h1 {
    line-height:0px;
    display:inline-block;  
    
}

.page-title h1 a{
    color:	white;
    font-weight:100;
    font-size:.8em;
}

.page-title h1 a:hover{
    border:none;
    text-decoration: underline;
}
.page-title .other-title{
    margin-left:15px;
}

@media (max-width:1100px) { 
   .page-container{
       width:95%;
       margin-top:30px;
    }
} 
@media (max-width:800px) { 
   .page-container{
       width:100%;
       margin-top:25px;
    }
} 

@media (max-width:500px) { 
   .page-title h1 a{
       font-size:22px;
       font-weight:900;
    }
} 

/**********************************
PAGE CONTENT
***********************************/


.page-description{
    position:relative;
    Font-family:"Roboto";
    color:	#515d1b;
    font-size:1.2em;
    line-height:30px;
    font-weight:100;
    width:100%;
    font-weight:200;
    z-index: 2;
    padding :20px 40px;
    margin-bottom:50px;
    margin-top:0px;
    border:#a2bb37 solid 2px;
    background-color:white;
} 
.page-description h3{
    color:rgba(0,0,0,0.7);
}

.page-description p{
    color:rgba(0,0,0,0.6);
    text-align: left;
    font-size:1em;
}



.list-items{
    width:90%;
    margin: 0 auto;
    list-style-type: none;
    font-weight:100;
    list-style-position:inside;
    padding:0;
}

.list-items li{
    height:100%;
    width:100%;
    padding:10px 10px 30px 0px;
}

.list-items li:not(:last-child){
   border-bottom: rgba(162,187,37,1) dotted 2px;
}

.list-items li .item-description{
    color:#666;
    padding-top:10px;
    
}

.list-items li .item-title{
    color:#444;
}

.list-items li .date{
    font-style: italic;
    color:orangered;
    font-family:"Roboto";
    font-weight:400;
}

.list-items li  a{
    color:#333;
}

.list-items li a:hover{
    border:none;
    text-decoration: underline;
}




