
/**********************************
PAGE TITLE
***********************************/
.others-right-arrow:after {
    content: "\00A0\203A";
}

.page-container{
    width:84%;
    height:100%;
    margin: 0px auto;
    margin-top:25px;
    font-family: 'Roboto';
    padding-bottom:30px;
}

.page-title{
    padding-top:40px;
    padding-bottom:25px;
    z-index:999;
    position:relative;
    background:  url(../images/asfalt--light--1920x1080.png) no-repeat center;
    background-size: cover;
    font-family:Ubuntu;
    text-shadow: 0 1px 0 rgba(17, 17, 17, 0.5);
    -webkit-font-smoothing: antialiased;
    color:#d0de91;
    text-shadow: 0 2px 0 rgba(17, 17, 17, 0.32);
    text-align:center;
}


.page-title a{
    color:	white;
    font-weight:100;
    font-size:3em;
    line-height:0px;
    display:inline-block; 
}

.page-title  a:hover{
    border:none;
    text-decoration: underline;
}
.page-title .other-title{
    margin-left:15px;
}

@media (max-width:1200px) { 
   .page-container{
       width:90%;
       margin-top:30px;
    }
    
} 
@media (max-width:800px) { 
   .page-container{
       width:100%;
       margin-top:-22px;
    }
    
} 

@media (max-width:500px) { 
   .page-title h1 a{
       font-size:22px;
       font-weight:900;
    }
    
} 

/**********************************
PAGE CONTENT
***********************************/


.page-description{
    position:relative;
    Font-family:"Roboto";
    color:	#333;
    font-size:1.2em;
    font-weight:100;
    width:100%;
    font-weight:200;
    z-index: 2;
    padding :20px 40px 40px 40px;
    margin-bottom:30px;
    border:#889d2e solid 1px;
    background-color:white;
} 

.page-description p{
    color:rgba(0,0,0,0.6);
    text-align: left;
    font-size:1.1em;
}

.page-description ul{
    color:rgba(0,0,0,0.6);
    font-size:1.1em;
    list-style:square inside;
    padding-left:0px;
}

.item-title{
    color:#333 !important;
}


.date{
    /*font-style: italic;*/
    color:orangered !important;
    font-family:"Roboto";
    font-weight:400;
    margin-bottom:20px;
}


@media (max-width:800px) { 
    .page-description{
        border-left:none;
        border-right:none;
    }
    .page-title a {
        font-size:2em;
    }
    .page-title{
        padding-top:25px;
        padding-bottom:20px;
    }
    .page-description{
        margin-bottom:-30px;
        padding-bottom: 40px;
        padding-top: 10px;
    }
    
} 
