
/**********************************
PAGE TITLE
***********************************/
.others-right-arrow:after {
    content: "\00A0\203A";
}

.page-container{
    width:84%;
    height:100%;
    margin: 0px auto;
    margin-top:15px;
    font-family: 'Ubuntu';
    padding-bottom:30px;
}

.page-title{
    padding-top:20px;
    padding-bottom:20px;
    z-index:999;
    position:relative;
    background:  url(../images/asfalt--light--1920x1080.png) no-repeat center;
    background-size: cover;
    font-family:Ubuntu;
    -webkit-font-smoothing: antialiased;
    text-shadow: 0 2px 0 rgba(17, 17, 17, 0.32);
    text-align:center;
}
.page-title a{
    color:	white;
    font-weight:100;
    font-size:3em;
    display:inline-block; 
}

.page-title  a:hover{
    border:none;
    text-decoration: underline;
}
.page-title .other-title{
    margin-left:15px;
}

@media (max-width:1200px) { 
   .page-container{
       width:90%;
    }
    .page-title  a{
       font-size:2.5em;
    }
} 
@media (max-width:800px) { 
   .page-container{
       width:100%;
       margin-top:-22px;
    }

   .page-title a{
        font-size:1em;
    }
    
} 

/**********************************
PAGE CONTENT
***********************************/

.page-description{
    position:relative;
    Font-family:"Ubuntu";
    color:	#555;
    font-size:1.4em;
    font-weight:100;
    width:100%;
    font-weight:200;
    z-index: 2;
    padding :40px 5%;
    margin-bottom:30px;
    background-color:white;
    
} 

.page-description p{
    text-align: left;
    margin-bottom:25px !important;
}

.page-description p.list-desc{
    margin-bottom:5px !important;
}

.page-description h4{
    font-weight:bold;
    text-align: left;
    font-size:1.4em;
    margin-bottom:25px !important;
    line-height:1.5em !important;
}

.page-description ul{
    font-size:1.1em;
    list-style:disc inside;   
}


.item-title{
    color:#333 !important;
}

.date{
    /*font-style: italic;*/
    color:orangered !important;
    font-family:"Ubuntu";
    font-weight:400;
    margin-bottom:20px;
}
p.inside-desc{
    margin-left:20px;
    color:#555;
}


@media (max-width:800px) { 
    .page-description{
        border-left:none;
        border-right:none;
    }
    .page-title a {
        font-size:2em;
    }
    .page-title{
        padding-top:15px;
        padding-bottom:15px;
    }
    .page-description{
        margin-bottom:-30px;
        padding-bottom: 40px;
        padding-top: 40px;
    }
    
} 
