/**********************************
PAGE TITLE
***********************************/
.others-right-arrow:after {
    content: "\00A0\203A";
}

.page-container{
    width:84%;
    height:100%;
    margin: 0px auto;
    margin-top:40px;
    font-family: 'Days one';
}

.page-title{
    font-family: 'Days one';
    line-height:0px;
    padding:15px 15px 5px 40px;
    z-index:999;
    position:relative;
    border:rgba(0,0,0,0.1) solid 2px;

    background-color:rgba(0,0,0,0.8); 
    background-color:rgba(241,242,243,0.5); 
    margin-top:0px;
}

.page-title h1 {
    line-height:0px;
    display:inline-block;
    color:rgba(0,0,0,0.7);
}

.page-title h1 a{
    color:rgba(0,0,0,0.7);
    font-weight:100;
    font-size:.8em;
}

.page-title h1 a:hover{
    border:none;
    text-decoration: underline;
}
.page-title .other-title{
    margin-left:15px;
}

@media (max-width:1100px) { 
   .page-container{
       width:95%;
       margin-top:30px;
    }
} 
@media (max-width:800px) { 
   .page-container{
       width:100%;
       margin-top:25px;
    }
} 

@media (max-width:500px) { 
   .page-title h1 a{
       font-size:22px;
       font-weight:900;
    }
} 

/**********************************
PAGE CONTENT
***********************************/


.page-description{
    position:relative;
    background-color:rgba(241,242,243,0.5); 
    color:	#333;
    font-size:1.2em;
    line-height:30px;
    font-weight:100;
    width:100%;
    font-weight:200;
    z-index: 2;
    border:rgba(0,0,0,0.1) solid 2px;
    border-top:rgba(0,0,0,0.1) solid 8px;
    padding :20px 40px;
    margin-bottom:50px;
    margin-top:0px;
} 
.page-description h3{
    color:rgba(0,0,0,0.7);
}

.page-description p{
    color:rgba(0,0,0,0.6);
    text-align: left;
    font-size:1em;
}

.page-description ul{
    color:rgba(0,0,0,0.6);
    font-size:1em;
    list-style:square inside;
    padding-left:0px;
}

