/**********************************
GENERAL
***********************************/
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('http://themes.googleusercontent.com/static/fonts/opensans/v5/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}

body {
   font-family: "Open Sans" ,'AdobeGaramondW01-Regula', Times, Georgia, serif;
   background-color: white;
}

*{
    box-sizing: border-box;
}

a {
  text-decoration: none;
  color:dimgray;
}

img {
  max-width: 100%;
}

h1{
    color:rgba(0,0,0,0.9);
    line-height: 3em;
}

.right-arrow:after {
    content: "\00A0\203A";
}

.page-wrapper{
    background-color:white;
    margin: 0 auto;
    margin-top:0px;
    height:100%;
    width: 1400px;
    border-right: rgba(98,94,86,0.6) solid 2px;
    border-left: rgba(98,94,86,0.6) solid 2px;
    box-shadow: rgba(98,94,86,1) 0px 0px 20px;
   
}


/**********************************
TOP NAVIGATION
***********************************/
.top-navbar {
   font-family:Kanit;
   border-radius: none;
   width:100%;  
   background-color:white;
   height:120px;
   width:1000px;
   margin-left:200px;
   position:relative;
}

.search-lang{
    float:right;
    display:inline-block;
    width:30%;
}

.logo{
    display:inline-block;
    margin-top:10px;
    color:rgba(162,187,37,1); 
    font-size:1.2em;
    float:left;
    width:30%;
}

.logo img{
    width:80px;
    height:80px;
}

.lang-wrapper{
    height:30px;
    font-size:1.3em;
    margin-right:0px;
    margin-top:12px;
}

ul.lang-wrapper-list {
    display:inline-block;
    list-style: none;   
}
ul.lang-wrapper-list li {
    display:inline-block;
    margin:0;
}

ul.lang-wrapper-list li a{
    color:rgba(0,0,0,0.7);
}

ul.lang-wrapper-list li i{
    padding:0px 4px;
    color:rgba(0,0,0,,0.7);
}


.lang-wrapper-list .selected,.lang-wrapper-list i a:hover{
    border-bottom: rgba(0,0,0,0.7) solid 2px;
    text-decoration: none;
}

.search-form{
    margin-right:0px;
    margin-top:25px;
}

.search-form .form-control{
   border:rgba(0,0,0,0.5) solid 2px;
   height:40px;
   font-size:1.7rem; 
}

.search-form .btn {
    width:40px;
    height:40px;
    background-color:rgba(0,0,0,0.6); 
    color:white;
    font-weight:900;
    font-size:1.7rem;
    top:0;
}

.search-form .btn:hover {
    background-color:rgba(0,0,0,0.7);    
}


/**********************************
MAIN NAVIGATION
***********************************/

.navbar-main {
   font-family:Kanit;
   border-radius: none;
   position: relative;
   width:100%; 
   font-size: 1.6em;  
   color:#43b1b1;
   background-color:rgba(162,187,37,1);
   margin-top:5px;
   margin-bottom:0px;
}

.main-nav-items{
    color:#43b1b1;
    color:white;
}
#myNavbar{
    margin-right:250px;
}

.main-navbar-ul li{
    padding:5px 5px; 
    transition-property: all ;
    transition-duration: 0.5s;
   
}

.dropdown-menu  li a{
    background-color:white;
    font-size:1.2em;
    transition-property: all ;
    transition-duration: 0.3s;
}


.main-navbar-ul li:hover, .main-navbar-ul li:focus{
    color:black;
    border-radius: 4px;
    background-color:#b7ce57;
}


.navbar-nav > li > a:hover,  .navbar-nav > li > a:focus,   .navbar-nav > li > a:active {
    color:black;
    border-radius: 4px;
}

.dropdown-menu  li{
    border:none;
}

.dropdown-menu  li a{
    color:rgba(98,94,86,0.9);
    font-weight:100;
    font-size:1.4rem;
}

 .dropdown-menu li:hover, .dropdown-menu li:focus{
   border:none;
   background-color:white;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > li > a:active {
    text-decoration: underline;
    background: white;
    transition:none;
    color:rgba(98,94,86,0.9);
}

.dropdown-menu{
    margin:0px 0px;
    padding:0px 0px;
}


/**********************************
PAGE TITLE
***********************************/
.page-title{
    background-color:white;
    font-family: 'open sans',arial,sans-serif;
    z-index:3;
    position:absolute;
    margin-left:40px;
    margin-top:20px;
    padding:10px 20px;
    color:white;
    border:rgba(0,0,0,0.2) solid 2px;
}

.page-title h1{
    font-weight:600;
    line-height:1em;
    display:inline-block;
    text-align:center;
    margin-top:0px;
    color:#A2BB37;
}

.page-title .first-title{
   
}

.page-title .other-title{
    margin-left:15px;
}

/**********************************
PAGE CONTENT
***********************************/

.main-content{
    height:1400px;
    margin-left:200px; 
    margin-right:200px; 
    margin-top: 50px;
}

.content-items-container{
    height:180px;
    position:relative;
}


.item-description-title{
    height:40px;
    width:150px;
    z-index:3;
    position:absolute;
    background-color:rgba(162,187,37,1); 
}


.item-description-title h3 a{
    color:white;
}

.item-description{
    top:60px;
    position:absolute;
    background-color:rgba(241,242,243,0.5); 
    color:	#333;
    font-size:1.2em;
    line-height:30px;
    font-weight:200;
    width:100%;
    padding:20px 0px;
    font-weight:200;
    z-index: 2;
    border:rgba(0,0,0,0.1) solid 2px;
    padding :40px 40px;
    
} 
.item-description h3{
    color:rgba(0,0,0,0.7);
    font-weight:500;
}

.item-description p{
    color:rgba(0,0,0,0.6);
    text-align: left;
    font-size:1em;
    font-weight:400;
    padding-left: 20px;
}

.item-description ul{
    color:rgba(0,0,0,0.6);
    font-size:1em;
    font-weight:400;
    list-style:square ;
}


/**********************************
FOOTER
***********************************/




/**********************************
SEOND FOOTER
***********************************/

.footer-wrapper-1{
    background:  url(../images/leather-1920x1080.png) no-repeat center;
    background-size: cover;
    width: 100%; 
    padding: 0px 20px;
    font-family:Ubuntu;
}


.footer-2 h4{
    color: rgba(0,0,0,0.8);
    font-weight:600;
    font-size: 1.5rem;
    line-height: 4rem;
    font-weight:500;
}

.footer-2 ul{
    list-style:none;
    padding-left:0;
}


.footer-2 li a,.footer-2 li, .newsletter{
    color: rgba(0,0,0,0.6);
    font-weight:100;
    transition-property: font-weight, color;
    transition-duration:0.4s;
}

.footer-2 li a:hover{
    color: rgba(0,0,0,0.7);
    font-weight:500;
}

.who-we-are, what-we-do, contact-info{
    color: #cfd1e7;
    font-weight:100;
}


.input-group {
    width: 300px;
    position:relative;
    overflow:hidden; 
    border-color: #A2BB37;
}

input.btn.btn-lg,
input.btn.btn-lg:focus {
    outline: none;
    width: 60%;
    height: 40px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    font-size:1.5rem;
    font-weight:500;
    position:absolute;
}

button.btn {
    width: 40%;
    height: 40px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color:   rgba(0,0,0,0.5);
    font-size:1.5rem;
    font-weight:900;
    position:absolute;
    margin-left:60%;
    border:none;
    transition-property: background-color;
    transition-duration:0.3s;
}

button.btn:hover {
    background-color:rgba(0,0,0,0.7);
}


.container{
    width:100%
}

.col{
    padding-bottom: 10px;
}
.clo-large{
    padding-left:30px;
}

/**********************************
THIRD FOOTER
***********************************/


.footer-wrapper-2{
    position:relative;
    background:  url(../images/dark-leather-1920x1080.png) no-repeat center;
    background-size: cover;
    height:100px;
    width: 100%;
    margin-bottom:0px;
    bottom:0;
    overflow: auto;
    color:white;
    font-size:1em;
    font-weight:500;
    font-family:Ubuntu;
}

/****** LOGO RIGHT ******/
.footer-logo{
    top:0;
    width:30%;
    height:100%;
    float:left;
    width:40%;
    margin-left:30px;
    
}

.footer-logo img{
    top:0;
    padding:0px 0px;
    width:65px;
    height:65px; 
}

.footer-logo p{
    padding-left:20px;
    margin-bottom: :0px;
    font-size:0.9em;
}

/****** COPYRIGHT RIGHT ******/

.footer-copyright{
    float:right;
    width:30%;
    height:100%;
    position:relative;
    text-align: right;
}

.footer-copyright-2{
    width:100%;
    height:100%;
}

.footer-copyright  ul{
    margin-right:20px;
    margin-top:20px;
    list-style-type: circle;
}

.footer-copyright li{
    display:inline-block;
    margin-right:20px;
}

.footer-copyright li a{
    color:white;    
}

.footer-copyright li a:hover{
    text-decoration:none;
    border-bottom: white solid 1px;
}

.footer-copyright p{ 
    line-height:1.7em;
    text-align:right;
    font-size: 0.8em;
    margin-right:40px;
}








