/* 
Generic Styling, for Desktops/Laptops 
*/
table { 
  width: 80%;
  margin:30px auto;
  border-collapse: collapse; 
  border:#7c8f2a solid 1px;
}
/* Zebra striping */
tr:nth-of-type(odd) { 
  background: #edf2d5; 
}
tr.total { 
  color:orangered; 
}
th { 
  background: #7c8f2a; 
  color: white; 
  font-weight: bold; 
}
td, th { 
  padding: 6px; 
  border: 1px solid #ccc; 
  text-align: left; 
}

thead{
    
    text-shadow: 0 2px 0 rgba(17, 17, 17, 0.42);
}